<div ng-show="report._id">
    <hr/>
    <div class="report-details-header">
        <div class="direct-link"><a href="#/report-details/{{acralyzer.app}}/{{report._id}}"><i class="icon-share"></i>direct link</a></div>
        <h3>Summary</h3>
        <table>
            <tr>
                <th><i class="icon-fire"></i></th>
                <th>Crash Signature</th>
                <td colspan=5>{{report.SIGNATURE.digest}}</td>
            </tr>
            <tr>
                <th><i class="icon-gift"></i></th>
                <th>Package name</th>
                <td>{{report.PACKAGE_NAME}}</td>
                <th>Application version code</th>
                <td>{{report.APP_VERSION_CODE}}</td>
                <th>Application version name</th>
                <td>{{report.APP_VERSION_NAME}}</td>
            </tr>
            <tr>
                <th><i class="icon-user"></i></th>
                <th>Installation ID</th>
                <td>
                    <a class="label label-inverse" href="#/reports-browser/{{acralyzer.app}}/user/{{report.INSTALLATION_ID}}" ng-show="report.INSTALLATION_ID">
                        <img class="avatar" monsterid="{{report.INSTALLATION_ID}}" title="{{report.INSTALLATION_ID}}"/>
                        {{report.INSTALLATION_ID}}
                    </a>
                </td>
                <th>E-mail</th>
                <td><a href="mailto:{{report.USER_EMAIL}}">{{report.USER_EMAIL}}</a></td>
                <th>Device</th>
                <td>{{report.BUILD.MANUFACTURER}} {{report.BUILD.BRAND}} {{report.BUILD.MODEL}}</td>
            </tr>
            <tr>
                <th rowspan="2"><i class="icon-fire"></i></th>
                <th>Stack Trace</th>
                <td colspan="5" class="stacktrace">
                    <div ng-repeat="stackline in report.STACK_TRACE" class="pre">{{stackline}}</div>
                </td>
            </tr>
            <tr>
                <th>LogCat</th>
                <td colspan="5" class="stacktrace" prettyprint="report.LOGCAT">
                    <!-- <div ng-repeat="logline in report.LOGCAT" class="pre">{{logline}}</div> -->
                </td>
            </tr>
        </table>
    </div>
    <h3>Full report</h3>
    <div class="report-details" prettyprint="report" />
</div>